<link rel="stylesheet" href="{{url_for('static', filename='styles/detail.css')}}" type="text/css">

{% extends 'layout.html' %}

{% block body %}

{% if data %}
<article>
  <picture>
    <img src="{{data.image}}" alt="">
  </picture>
  <div class="data-container">
    <h1>{{data.name}}</h1>
    <p>Status: {{data.status}}</p>
    <p>Origen: <a href="{{data.origin.url}}">{{data.origin.name}}</p></a>
    <p>Location: <a href="{{data.location.url}}">{{data.location.name}}</a></p>
    <p>Episodios:
      {%for e in episode%}
      {{e}}
      {%endfor%}
    </p>
  </div>
</article>
{% endif %}

{% endblock %}